img#bg.bg0 {
    background: url(bg0.jpg);
    background-size: cover;
}
img#bg.bg1 {
    background: url(bg1.jpg);
    background-size: cover;
}
img#bg.bg2 {
    background: url(bg2.jpg);
    background-size: cover;
}
img#bg.bg3 {
    background: url(bg3.jpg);
    background-size: cover;
}
img#bg.bg4 {
    background: url(bg4.jpg);
    background-size: cover;
}
img#bg {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(50%);
}

#main {
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(10px);
    background: #40404080;
    border-radius: 20px;
    text-align: center;
    min-width: 800px;
    padding: 30px;
}

button, input[type="checkbox"] {
    background: #ff8c0a;
    border: 4px solid #ff5600;
    border-radius: 10px;
    margin: 5px;
    font-size: x-large;
    color: #2b2034;
    box-shadow: 0 7px #77242e;
    cursor: pointer;
    transition: all .4s;
}

button:active:not([disabled]) {
    box-shadow: 0 0 black;
    transform: translateY(7px);
}

#progress {
    position: relative;
    color: white;
    font-family: sans-serif;
    z-index: 1;
}

#progressbar {
    background: #2b2034;
    border-radius: 10px;
    min-height: 20px;
    padding: 10px;
    margin: 10px;
    position: relative;
}
#bar {
    background: green;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}


input#username, #logs > textarea {
    border: 4px solid #ff5600;
    border-radius: 10px;
    margin: 5px;
    font-size: x-large;
    color: #2b2034;
    box-shadow: 0 7px #77242e;
    transition: all .4s;
}

#logs > textarea {
    width: 772px;
    height: 255px;
}

label {
    color: white;
    font-family: sans-serif;
}
#autoscrollb {
    accent-color: #ff8c0a;
    scale: 1.25;
}